@media screen and (max-width: 576px) {
  /* Phần navbar */
  .name {
    display: none;
  }
  #nav-bar .container {
    display: block;
  }
  #nav-bar .container > div {
    width: 100%;
    padding: 5px 5px;
  }
  /* Phần job */
  #job-info .container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 40px;
  }
  /* Phần chứng chỉ */
  .certificate-item {
    display: block;
  }
  .certificate-wrapper {
    display: block;
  }

  /* Phần dự án */
  .project-wrapper {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding-top: 20px;
    gap: 40px;
  }
}
